<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-danger">
    <!-- Container wrapper -->
    <div class="container-fluid">
        <!-- Toggle button -->
        <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
            data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>

        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Navbar brand -->
            
            <!-- Left links -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <h5><a class="nav-link">XYZ School</a></h5>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/addstudent">Add Students</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/viewstudent">View Students</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/addfaculty">Add Faculty</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/facultyview">View Faculty</a>
                </li>
            </ul>
            <!-- Left links -->
        </div>
       
    </div>
    <!-- Container wrapper -->
</nav>
<!-- Navbar -->


